    <!-- active-sub-> para activar-->
  
   <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">

                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">

                                <!--Profile Widget-->
                                <!--================================-->
                                <div id="mainnav-profile" class="mainnav-profile">
                                    <div class="profile-wrap text-center">
                                        <div class="pad-btm">
                                            <img class="img-circle img-md" src="/img/1.png"
                                                alt="Profile Picture">
                                        </div>
                                        <a href="#profile-nav" class="box-block" data-toggle="collapse"
                                            aria-expanded="false">
                                            
                                                <p class="mnp-name">Aaron Chavez</p>
                                                <span class="mnp-desc">aaron.cha@themeon.net</span>
                                            
                                       
                                        </a>
                                    </div>

                                </div>


                                <!--Shortcut buttons-->
                                <!--================================-->
                                <div id="mainnav-shortcut" class="hidden">
                                    <ul class="list-unstyled shortcut-wrap">
                                        <li class="col-xs-3" data-content="My Profile">
                                            <a class="shortcut-grid" href="#">
                                                <div class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                                                    <i class="demo-pli-male"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-xs-3" data-content="Messages">
                                            <a class="shortcut-grid" href="#">
                                                <div class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                                                    <i class="demo-pli-speech-bubble-3"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-xs-3" data-content="Activity">
                                            <a class="shortcut-grid" href="#">
                                                <div class="icon-wrap icon-wrap-sm icon-circle bg-success">
                                                    <i class="demo-pli-thunder"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-xs-3" data-content="Lock Screen">
                                            <a class="shortcut-grid" href="#">
                                                <div class="icon-wrap icon-wrap-sm icon-circle bg-purple">
                                                    <i class="demo-pli-lock-2"></i>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--================================-->
                                <!--End shortcut buttons-->


                                <ul id="mainnav-menu" class="list-group">

                                    <!--Category name-->
                                    <li class="list-header">Menu</li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-home"></i>
                                            <span class="menu-title">Inicio</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        {{!-- <ul class="collapse">
                                            <li><a href="index.html">Dashboard 1</a></li>
                                            <li><a href="dashboard-2.html">Dashboard 2</a></li>
                                            <li><a href="dashboard-3.html">Dashboard 3</a></li>

                                        </ul> --}}
                                    </li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-split-vertical-2"></i>
                                            <span class="menu-title">Compras</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="/views/new-Order/">Nueva Compra</a></li>
                                            <li><a href="#"></a></li>


                                        </ul>
                                    </li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="/views/new-Product/">
                                            <i class="demo-pli-gear"></i>
                                            <span class="menu-title">
                                                Productos
                                                <span class="pull-right badge badge-warning">24</span>
                                            </span>
                                        </a>
                                    </li>

                                   

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-boot-2"></i>
                                            <span class="menu-title">Fabricantes</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="ui-buttons.html">Buttons</a></li>
                                            <li><a href="ui-panels.html">Panels</a></li>
                                            <li><a href="ui-modals.html">Modals</a></li>
                                            <li><a href="ui-progress-bars.html">Progress bars</a></li>
                                            <li><a href="ui-components.html">Components</a></li>
                                            <li><a href="ui-typography.html">Typography</a></li>
                                            <li><a href="ui-list-group.html">List Group</a></li>
                                            <li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a></li>
                                            <li><a href="ui-alerts-tooltips.html">Alerts &amp; Tooltips</a></li>

                                        </ul>
                                    </li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-pen-5"></i>
                                            <span class="menu-title">Contactos</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="/views/client">Clientes</a></li>
                                             <li><a href="/views/proveedor">Proveedor</a></li>
                                        </ul>
                                    </li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-receipt-4"></i>
                                            <span class="menu-title">Facturacion</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="tables-static.html">Static Tables</a></li>
                                            <li><a href="tables-bootstrap.html">Bootstrap Tables</a></li>
                                            <li><a href="tables-datatable.html">Data Tables</a></li>
                                            <li><a href="tables-footable.html">Foo Tables</a></li>

                                        </ul>
                                    </li>

                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-bar-chart"></i>
                                            <span class="menu-title">Reportes</span>
                                            <i class="arrow"></i>
                                        </a>

                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="charts-morris-js.html">Morris JS</a></li>
                                            <li><a href="charts-flot-charts.html">Flot Charts</a></li>
                                            <li><a href="charts-easy-pie-charts.html">Easy Pie Charts</a></li>
                                            <li><a href="charts-sparklines.html">Sparklines</a></li>

                                        </ul>
                                    </li>
                                     <li class="list-divider"></li>

                                    <!--Category name-->
                                    <li class="list-header">Administrar Accesos</li>
                                    <!--Menu list item-->
                                    <li>
                                        <a href="#">
                                            <i class="demo-user"></i>
                                            <span class="menu-title">Permisos</span>
                                            <i class="arrow"></i>
                                        </a>
                                         <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="/empleado/views">Empleados</a></li>
                                            <li><a href="/user/views">Usuario</a></li>
                                        </ul>
                                    </li>
                                   

                                </ul>


                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->
