<form action="/signIn" method="POST" id="signIn">
    <div class="form-group">
        <input type="text" name="correo" class="form-control" placeholder="Ingrese Correo" autofocus="" />
    </div>
    <div class="form-group">
        <input type="password" name="contraseña" class="form-control" placeholder="Ingrese Password" />
    </div>
    <div class="checkbox pad-btm text-left">
        <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox" />
        <label for="demo-form-checkbox">Remember me</label>
    </div>
    <button class="btn btn-primary btn-lg btn-block" >Sign In</button>
</form>

